/* src/styles.css */
@import "tailwindcss";


/* You can add global styles here */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Material overrides */
.mat-mdc-form-field {
  width: 100%;
}

/* Smooth scrolling */
* {
  scroll-behavior: smooth;
}